<div class="container mt-5">
  <% if user_signed_in? %> 
    <div class="d-flex justify-content-end align-items-center">
      <p class="m-0 me-3 text-dark"><%= current_user.email %></p>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-danger btn-sm" %> 
    </div>
  <% else %>
    <div class="text-center">
      <%= link_to "Sign in", new_user_session_path, class: "btn btn-primary btn-sm" %> 
    </div>
  <% end %>
</div>
